**/cmake-build-*/
**/.idea/
**/.clang-format
**/Google_tests/lib/
**/.gradle/
**/build/
**/gradle/
**/geoImages/
**/*.bin
**/*.img
**/*.png
**/*.xml
**/*.bytecode
**/*.debug
**/*.csv
**/*.pt
**/*.whl
**/data/
**/MNIST/
**/*.sln